/* RELATIVE */

.house-relative {
    position: relative;
    left: 30px;
}

.house-relative__roof {
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-bottom: 200px solid #79553D;
    position: relative;
    right: 25px;
}

.house-relative__wall {
    background-color:#FBCEB1;
    height: 250px;
    width: 350px;
    position: relative;
}

.window-relative {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #3D2B1F;
    background: linear-gradient(45deg, #CAE4D8, #C5DDE8);
    left: 50px;
    top: 50px;
    position: relative;
}

.window-relative_hor {
    position: relative;
    width: 100px;
    height: 3px;
    background: black;
    top: 45px;
}

.window-relative_ver {
    position: relative;
    width: 100px;
    height: 3px;
    background: black;
    top: 45px;
    transform: rotate(90deg);
}

.door-relative {
    width: 100px;
    height: 200px;
    background: #3D2B1F;
    position: relative;
    left: 200px;
    bottom: 55px;
  
}

.door-relative__handle {
    width: 20px;
    height: 10px;
    background: yellow;
    position: relative;
    top: 100px;
    left: 10px;
}

/* ABSOLUTE */

.house-absolute {
    position: absolute;
    margin: 20px 0 0 0;
}

.house-absolute__roof {
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-bottom: 200px solid #79553D;
    position: absolute;
    bottom: 270px;
    left: 450px;
}

.house-absolute__wall {
    background-color:#FBCEB1;
    height: 250px;
    width: 350px;
    position: absolute;
    left: 480px;
    bottom: 20px;   
}


.window-absolute {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #3D2B1F;
    background: linear-gradient(45deg, #CAE4D8, #C5DDE8);
    position: absolute;
    left: 50px;
    top: 50px;
}

.window-absolute__hor {
    position: absolute;
    width: 100px;
    height: 3px;
    background: black;
    top: 45px;
}

.window-absolute__ver {
    position: absolute;
    width: 100px;
    height: 3px;
    background: black;
    top: 50px;
    transform: rotate(90deg);
}

.door-absolute {
    width: 100px;
    height: 200px;
    background: #3D2B1F;
    position: absolute;
    left: 200px;
    bottom: 0px;

}

.door-absolute__handle {
    width: 20px;
    height: 10px;
    background: yellow;
    position: absolute;
    top: 100px;
    left: 10px;
}

/* FIXED HOUSE */

.house-fixed {
    position: fixed;
    margin-top: 10px;
}

.house-fixed__wall {
    background-color:#FBCEB1;
    height: 250px;
    width: 350px;
    position: fixed;
    margin: -260px 0 0 950px;
}

.house-fixed__roof {
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-bottom: 200px solid #79553D;
    position: fixed;
    margin: -460px 0 0 925px;
}

.window-fixed {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #3D2B1F;
    background: linear-gradient(45deg, #CAE4D8, #C5DDE8);
    position: fixed;
    margin: 50px 0 0 50px;
}

.window-fixed__hor {
    position: fixed;
    width: 100px;
    height: 3px;
    background: black;
    margin: 50px 0 0 0;
}

.window-fixed__ver {
    position: fixed;
    width: 100px;
    height: 3px;
    background: black;
    transform: rotate(90deg);
    margin: 50px 0 0 0;
}

.door-fixed {
    width: 100px;
    height: 200px;
    background: #3D2B1F;
    position: fixed;
    margin: 50px 0 0 200px;

}

.door-fixed__handle {
    width: 20px;
    height: 10px;
    background: yellow;
    position: fixed;
    margin: 100px 0 0 10px;
}


/* STATIC HOUSE */

.house-static {
    position: static;
    margin: -450px 0 0 1375px;
}

.house-static__wall {
    background-color:#FBCEB1;
    height: 250px;
    width: 350px;
    position: static;
    margin: 0 0 0 25px;
}

.house-static__roof {
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
    border-bottom: 200px solid #79553D;
    position: static;
 
}

.window-static {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #3D2B1F;
    background: linear-gradient(45deg, #CAE4D8, #C5DDE8);
    position: static;
    margin: -200px 0 0 75px;
}

.window-static__hor {
    position: static;
    width: 100px;
    height: 3px;
    background: black;
    margin: -50px 0 0 75px;
}

.window-static__ver {
    position: static;
    width: 100px;
    height: 3px;
    background: black;
    transform: rotate(90deg);
    margin: -5px 0 0 75px;
}

.door-static {
    width: 100px;
    height: 200px;
    background: #3D2B1F;
    position: static;
    margin: -55px 0 0 230px;
}

.door-static__handle {
    width: 20px;
    height: 10px;
    background: yellow;
    position: static;
    margin: -100px 0 0 240px;
}