* {
  margin: 0;
  padding: 0;
}

.house-flex {
  display: flex;
  flex-direction: column;
  width: 100%; 
  align-items: center;
}

.house-flex__roof {
  display: flex;
  width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
  border-bottom: 200px solid #79553D;
}

.house-flex__wall {
  display: flex;
  background-color:#FBCEB1;
  height: 250px;
  width: 350px;
}

.window-flex {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid #3D2B1F;
  background: linear-gradient(45deg, #CAE4D8, #C5DDE8);
  margin-left: 30px;
  margin-top: 30px;
}

.window-flex__hor {
  display: flex;
  margin-top: 45px;
  width: 100px;
  height: 3px;
  background: black;
}

.door-flex {
  display: flex;
  width: 100px;
  height: 200px;
  background: #3D2B1F;
  margin-top: 50px;
  margin-left: 70px;
}

.door-flex__handle {
  display: flex;
  width: 20px;
  height: 10px;
  background: yellow;
  margin-top: 100px;
  margin-left: 10px;

}